<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="fakeEcConnectionString" providerName="Sys.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=FakeEc;User ID=sa;Password=123456;persist security info=False;"/>
   </connectionStrings>
</configuration>