<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--mongodb://[username:password@]host1[:port1][,host2[:port2],…[,hostN[:portN]]][/[database][?options]]-->
    <add name="mongoTestContext" connectionString="mongodb://localhost/test"/>
  </connectionStrings>
</configuration>